
html, body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #0E0E0E;
    color: #FFF;
    line-height: 1.42857143;
    overflow: hidden;
}

a {
    text-decoration: none;
}

hr.solid {
    border-top: 1px solid #bbb;
    width: 100%;
    margin: 15px 0;
}

.main {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
}

.rightMenu {
    position: relative;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-shrink: 0;
    width: 230px;
    height: 100%;
    padding: 10px 0;
    background-color: #171717;
    overflow-x: hidden;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
    scrollbar-width: none;
    z-index: 999;
}

.rightMenu > * {
    flex-shrink: 0;
}

#datepicker {
    line-height: 1.9;
}

.log {
    background-color: #0E0E0E;
    width: 100%;
    height: 100%;
    margin-left: 3px;
    overflow-x: hidden;
    word-break: break-word;
    color: #FFF;
    position: relative;
}


.message {

}


.timestamp {
    color: #7A7A7A;
}

a.username {
    font-weight: bold;
    color: #FFF09A;
    transition: filter 100ms linear;
}

a.username:hover {
    filter: brightness(60%);
}

a.osulink {
    text-decoration: none;
    background-color: #284779;
    text-shadow: 1px 1px black;
    color: white;
    transition: background-color 100ms linear;
}

a.osulink:hover {
    color: white;
    background-color: #ADD8E6;
}

.content {

}

.log .center {
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.log .icon {
    position: relative;
    top: 10%;
    transform: translateY(-10%);
}

.menuButton {
    position: absolute;
    top: 5px; left: 5px;
    opacity: 0.5;
}

.menuButton:hover {
    opacity: 1;
    transition: opacity 100ms linear;
}
.scrollable-menu {
    height: auto;
    width: 100%;
    max-height: 200px;
    overflow-x: hidden;
}

.dropdown-toggle {
    width: 157px;
    height: 34px;
    overflow: hidden;
}

.dropdown-toggle::after {
    content: none;
}

@media screen and (max-width: 600px){
    .rightMenu {
        position: absolute;
    }
}

